In [1]:
import pandas as pd
import numpy as np

In [3]:
# The code was removed by Watson Studio for sharing.

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data = df_data_1
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [11]:
predictors.tail()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [12]:
n_cols = predictors.shape[1] # number of predictors

# A. Building a baseline model without data normalization

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [17]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
721/721 [==============================] - 1s 966us/step - loss: 92247.4995
Epoch 2/50
721/721 [==============================] - 0s 167us/step - loss: 20010.1646
Epoch 3/50
721/721 [==============================] - 0s 164us/step - loss: 5221.7138
Epoch 4/50
721/721 [==============================] - 0s 164us/step - loss: 4138.7335
Epoch 5/50
721/721 [==============================] - 0s 165us/step - loss: 3800.8042
Epoch 6/50
721/721 [==============================] - 0s 169us/step - loss: 3493.9679
Epoch 7/50
721/721 [==============================] - 0s 166us/step - loss: 3182.2755
Epoch 8/50
721/721 [==============================] - 0s 160us/step - loss: 2892.3154
Epoch 9/50
721/721 [==============================] - 0s 191us/step - loss: 2623.2156
Epoch 10/50
721/721 [==============================] - 0s 180us/step - loss: 2381.2594
Epoch 11/50
721/721 [==============================] - 0s 148us/step - loss: 2151.1068
Epoch 12/50
721/721 [==============================] - 0s 172us/step - loss: 1943.5207
Epoch 13/50
721/721 [==============================] - 0s 168us/step - loss: 1759.6144
Epoch 14/50
721/721 [==============================] - 0s 179us/step - loss: 1591.9908
Epoch 15/50
721/721 [==============================] - 0s 165us/step - loss: 1447.7956
Epoch 16/50
721/721 [==============================] - 0s 196us/step - loss: 1320.2885
Epoch 17/50
721/721 [==============================] - 0s 140us/step - loss: 1210.2021
Epoch 18/50
721/721 [==============================] - 0s 182us/step - loss: 1117.0245
Epoch 19/50
721/721 [==============================] - 0s 145us/step - loss: 1036.4390
Epoch 20/50
721/721 [==============================] - 0s 166us/step - loss: 962.8084
Epoch 21/50
721/721 [==============================] - 0s 169us/step - loss: 901.2948
Epoch 22/50
721/721 [==============================] - 0s 158us/step - loss: 848.8845
Epoch 23/50
721/721 [==============================] - 0s 165us/step - loss: 801.3999
Epoch 24/50
721/721 [==============================] - 0s 165us/step - loss: 758.3297
Epoch 25/50
721/721 [==============================] - 0s 161us/step - loss: 726.1199
Epoch 26/50
721/721 [==============================] - 0s 148us/step - loss: 690.9276
Epoch 27/50
721/721 [==============================] - 0s 174us/step - loss: 662.3201
Epoch 28/50
721/721 [==============================] - 0s 140us/step - loss: 638.2965
Epoch 29/50
721/721 [==============================] - 0s 159us/step - loss: 610.5247
Epoch 30/50
721/721 [==============================] - 0s 164us/step - loss: 590.0814
Epoch 31/50
721/721 [==============================] - 0s 172us/step - loss: 571.1615
Epoch 32/50
721/721 [==============================] - 0s 157us/step - loss: 552.9997
Epoch 33/50
721/721 [==============================] - 0s 169us/step - loss: 537.4084
Epoch 34/50
721/721 [==============================] - 0s 189us/step - loss: 522.0394
Epoch 35/50
721/721 [==============================] - 0s 146us/step - loss: 510.0812
Epoch 36/50
721/721 [==============================] - 0s 161us/step - loss: 497.8327
Epoch 37/50
721/721 [==============================] - 0s 188us/step - loss: 483.7692
Epoch 38/50
721/721 [==============================] - 0s 145us/step - loss: 473.6875
Epoch 39/50
721/721 [==============================] - 0s 167us/step - loss: 461.5108
Epoch 40/50
721/721 [==============================] - 0s 199us/step - loss: 450.5754
Epoch 41/50
721/721 [==============================] - 0s 156us/step - loss: 440.7471
Epoch 42/50
721/721 [==============================] - 0s 164us/step - loss: 432.5232
Epoch 43/50
721/721 [==============================] - 0s 166us/step - loss: 422.4240
Epoch 44/50
721/721 [==============================] - 0s 169us/step - loss: 414.3657
Epoch 45/50
721/721 [==============================] - 0s 165us/step - loss: 408.4760
Epoch 46/50
721/721 [==============================] - 0s 159us/step - loss: 397.8620
Epoch 47/50
721/721 [==============================] - 0s 147us/step - loss: 390.0277
Epoch 48/50
721/721 [==============================] - 0s 150us/step - loss: 381.7912
Epoch 49/50
721/721 [==============================] - 0s 156us/step - loss: 373.9351
Epoch 50/50
721/721 [==============================] - 0s 159us/step - loss: 367.7981

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
print('Loss Value', loss_val)

309/309 [==============================] - 0s 262us/step
Loss Value 337.3526585649904

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

337.352654998626 0.0

In [22]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation (SD): "+str(standard_deviation))

MSE 1: 47.422234075354915
MSE 2: 63.409754854961506
MSE 3: 51.94270822222565
MSE 4: 53.22653408112264
MSE 5: 69.12536235920435
MSE 6: 53.40319787182854
MSE 7: 58.85250523638185
MSE 8: 45.65644821611423
MSE 9: 53.236301409773844
MSE 10: 55.27177814372535
MSE 11: 47.33764868183815
MSE 12: 47.33687313166251
MSE 13: 53.91144258073233
MSE 14: 51.13747094904335
MSE 15: 48.55963476730396
MSE 16: 41.35809423699734
MSE 17: 49.109424208360196
MSE 18: 49.51708023910769
MSE 19: 47.68713502359236
MSE 20: 48.34264735496546
MSE 21: 49.596341969511656
MSE 22: 46.217123074824755
MSE 23: 50.584522506565726
MSE 24: 52.54029026463579
MSE 25: 50.12952952709013
MSE 26: 51.01245813462341
MSE 27: 63.07229125383988
MSE 28: 47.29118138532422
MSE 29: 50.187993071225854
MSE 30: 51.80968173499246
MSE 31: 46.54266673461519
MSE 32: 43.95749191481705
MSE 33: 44.49263844906705
MSE 34: 48.85172160620828
MSE 35: 43.42434502265214
MSE 36: 50.12422150547064
MSE 37: 51.30937601601808
MSE 38: 49.28283477832584
MSE 39: 46.955267045104385
MSE 40: 41.21301116449548
MSE 41: 56.122785808970626
MSE 42: 45.13873514465529
MSE 43: 44.88421747522447
MSE 44: 57.412690715110806
MSE 45: 59.753206617238064
MSE 46: 61.52439438409404
MSE 47: 49.37020487615592
MSE 48: 54.59575267902856
MSE 49: 50.280042333510316
MSE 50: 48.72046265092868


Below is the mean and standard deviation of 50 mean squared errors. Total number of epochs for each training is: 50

Mean: 50.8448350289397
Standard Deviation (SD): 5.663582801262753

# B. Building a baseline model with data normalization

In [23]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [24]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [25]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [26]:
model = regression_model()

In [27]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1491.9488
Epoch 2/50
 - 0s - loss: 1473.3260
Epoch 3/50
 - 0s - loss: 1453.8454
Epoch 4/50
 - 0s - loss: 1433.1622
Epoch 5/50
 - 0s - loss: 1411.3927
Epoch 6/50
 - 0s - loss: 1388.3329
Epoch 7/50
 - 0s - loss: 1364.0393
Epoch 8/50
 - 0s - loss: 1338.5468
Epoch 9/50
 - 0s - loss: 1311.8160
Epoch 10/50
 - 0s - loss: 1283.7354
Epoch 11/50
 - 0s - loss: 1254.7280
Epoch 12/50
 - 0s - loss: 1224.3903
Epoch 13/50
 - 0s - loss: 1193.1339
Epoch 14/50
 - 0s - loss: 1160.8429
Epoch 15/50
 - 0s - loss: 1128.3625
Epoch 16/50
 - 0s - loss: 1094.2582
Epoch 17/50
 - 0s - loss: 1060.0794
Epoch 18/50
 - 0s - loss: 1025.2297
Epoch 19/50
 - 0s - loss: 989.9199
Epoch 20/50
 - 0s - loss: 954.2604
Epoch 21/50
 - 0s - loss: 918.6281
Epoch 22/50
 - 0s - loss: 882.8985
Epoch 23/50
 - 0s - loss: 847.3297
Epoch 24/50
 - 0s - loss: 812.8993
Epoch 25/50
 - 0s - loss: 778.5673
Epoch 26/50
 - 0s - loss: 745.0818
Epoch 27/50
 - 0s - loss: 712.2139
Epoch 28/50
 - 0s - loss: 680.6422
Epoch 29/50
 - 0s - loss: 648.9861
Epoch 30/50
 - 0s - loss: 619.4413
Epoch 31/50
 - 0s - loss: 589.7815
Epoch 32/50
 - 0s - loss: 562.5139
Epoch 33/50
 - 0s - loss: 535.8879
Epoch 34/50
 - 0s - loss: 510.0882
Epoch 35/50
 - 0s - loss: 486.4354
Epoch 36/50
 - 0s - loss: 463.2668
Epoch 37/50
 - 0s - loss: 441.6973
Epoch 38/50
 - 0s - loss: 421.2467
Epoch 39/50
 - 0s - loss: 402.3079
Epoch 40/50
 - 0s - loss: 384.4109
Epoch 41/50
 - 0s - loss: 367.8542
Epoch 42/50
 - 0s - loss: 352.5983
Epoch 43/50
 - 0s - loss: 338.2345
Epoch 44/50
 - 0s - loss: 324.7949
Epoch 45/50
 - 0s - loss: 312.6583
Epoch 46/50
 - 0s - loss: 301.4855
Epoch 47/50
 - 0s - loss: 290.8153
Epoch 48/50
 - 0s - loss: 281.4981
Epoch 49/50
 - 0s - loss: 272.7077
Epoch 50/50
 - 0s - loss: 264.8422

In [28]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
print('Loss Value', loss_val)

309/309 [==============================] - 0s 289us/step
Loss Value 261.56612220936995

In [29]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

261.5661258557047 0.0

In [30]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation (SD): "+str(standard_deviation))

MSE 1: 18203.224900131474
MSE 2: 7709.692111018406
MSE 3: 3030.275908139917
MSE 4: 1233.9235952432873
MSE 5: 618.1842011386908
MSE 6: 319.48548469420007
MSE 7: 175.82929787743825
MSE 8: 118.86169487913064
MSE 9: 121.86582694933253
MSE 10: 112.94099416393293
MSE 11: 102.53658218136883
MSE 12: 100.49687930604016
MSE 13: 119.74575697025435
MSE 14: 115.93527932768886
MSE 15: 108.92717476261473
MSE 16: 106.21782294214736
MSE 17: 105.12095602584888
MSE 18: 120.20842992294953
MSE 19: 99.32832326549543
MSE 20: 114.72302967059188
MSE 21: 100.05518995365279
MSE 22: 102.53758516280783
MSE 23: 118.54456072563492
MSE 24: 110.53452036836
MSE 25: 124.05976798542109
MSE 26: 113.3068539517597
MSE 27: 121.04847786418829
MSE 28: 125.21606203344648
MSE 29: 144.9832255539385
MSE 30: 113.00892325589572
MSE 31: 130.98991334785535
MSE 32: 107.17848462965883
MSE 33: 104.13326483174049
MSE 34: 137.5728442244545
MSE 35: 115.25572382362144
MSE 36: 155.8078691797349
MSE 37: 121.75787728812702
MSE 38: 116.78812522024013
MSE 39: 109.3483026992156
MSE 40: 125.41935384312109
MSE 41: 122.7879532996119
MSE 42: 116.73512273004526
MSE 43: 112.93798092345203
MSE 44: 118.09184415749361
MSE 45: 116.16201757535966
MSE 46: 118.44066318647761
MSE 47: 129.4566281019291
MSE 48: 116.48113119872257
MSE 49: 134.60628852720785
MSE 50: 110.2017707701254


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 726.6194548581531
Standard Deviation (SD): 2743.0451609470124

# C. Repeating Part B but using 100 epochs this time for training.

In [31]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation (SD): "+str(standard_deviation))

MSE 1: 161.30113457244576
MSE 2: 128.27107125192785
MSE 3: 109.38452602744488
MSE 4: 126.63879732792431
MSE 5: 132.17375385568366
MSE 6: 113.14846144987928
MSE 7: 136.54701277353232
MSE 8: 101.46527869956007
MSE 9: 122.86336687699105
MSE 10: 114.47951717438436
MSE 11: 103.46145516306065
MSE 12: 103.91993533137547
MSE 13: 121.30757827511883
MSE 14: 116.38890915163898
MSE 15: 121.22135846283058
MSE 16: 110.25251671257142
MSE 17: 119.74639166674568
MSE 18: 103.29102229146125
MSE 19: 94.94817569572177
MSE 20: 114.60492881602069
MSE 21: 97.09443467026004
MSE 22: 110.01318630971569
MSE 23: 118.67889295658247
MSE 24: 103.98356107446368
MSE 25: 108.55441103938328
MSE 26: 116.05230599313877
MSE 27: 126.9699504568353
MSE 28: 110.81635351088441
MSE 29: 111.69704022453827
MSE 30: 119.51491702181622
MSE 31: 137.47791922362492
MSE 32: 107.18926668630063
MSE 33: 121.918539596607
MSE 34: 109.9912330108939
MSE 35: 121.8705096692329
MSE 36: 128.00456827898242
MSE 37: 122.86976697606949
MSE 38: 126.89976227399215
MSE 39: 114.31580160196545
MSE 40: 117.72182610274133
MSE 41: 119.93004269893116
MSE 42: 112.04656355280706
MSE 43: 110.0467326340166
MSE 44: 112.3507886966841
MSE 45: 115.55310048717512
MSE 46: 114.69710565462081
MSE 47: 126.12383104836671
MSE 48: 119.71589976684176
MSE 49: 102.3078780189687
MSE 50: 114.67098221269626


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 116.68984685392321
Standard Deviation (SD): 11.33755171877719

# D. Repeating part B but using a neural network with: Three hidden layers, each of 10 nodes and ReLU activation function.

In [32]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [33]:
model=regression_model()

In [34]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 648.4791
Epoch 2/50
 - 0s - loss: 268.3521
Epoch 3/50
 - 0s - loss: 249.6963
Epoch 4/50
 - 0s - loss: 231.0292
Epoch 5/50
 - 0s - loss: 216.6743
Epoch 6/50
 - 0s - loss: 205.1338
Epoch 7/50
 - 0s - loss: 202.8808
Epoch 8/50
 - 0s - loss: 188.6977
Epoch 9/50
 - 0s - loss: 180.9398
Epoch 10/50
 - 0s - loss: 169.6254
Epoch 11/50
 - 0s - loss: 161.9267
Epoch 12/50
 - 0s - loss: 156.4026
Epoch 13/50
 - 0s - loss: 149.9196
Epoch 14/50
 - 0s - loss: 141.4191
Epoch 15/50
 - 0s - loss: 137.2968
Epoch 16/50
 - 0s - loss: 132.3949
Epoch 17/50
 - 0s - loss: 128.7793
Epoch 18/50
 - 0s - loss: 124.2446
Epoch 19/50
 - 0s - loss: 122.4991
Epoch 20/50
 - 0s - loss: 121.1636
Epoch 21/50
 - 0s - loss: 116.9792
Epoch 22/50
 - 0s - loss: 118.1384
Epoch 23/50
 - 0s - loss: 114.9001
Epoch 24/50
 - 0s - loss: 111.3157
Epoch 25/50
 - 0s - loss: 104.8561
Epoch 26/50
 - 0s - loss: 101.4775
Epoch 27/50
 - 0s - loss: 100.2227
Epoch 28/50
 - 0s - loss: 96.7320
Epoch 29/50
 - 0s - loss: 95.2467
Epoch 30/50
 - 0s - loss: 92.5349
Epoch 31/50
 - 0s - loss: 89.7793
Epoch 32/50
 - 0s - loss: 87.2195
Epoch 33/50
 - 0s - loss: 87.8203
Epoch 34/50
 - 0s - loss: 85.9251
Epoch 35/50
 - 0s - loss: 85.9060
Epoch 36/50
 - 0s - loss: 81.9325
Epoch 37/50
 - 0s - loss: 86.2890
Epoch 38/50
 - 0s - loss: 81.0551
Epoch 39/50
 - 0s - loss: 78.9679
Epoch 40/50
 - 0s - loss: 78.2740
Epoch 41/50
 - 0s - loss: 74.8587
Epoch 42/50
 - 0s - loss: 77.5437
Epoch 43/50
 - 0s - loss: 74.0770
Epoch 44/50
 - 0s - loss: 75.9146
Epoch 45/50
 - 0s - loss: 77.2956
Epoch 46/50
 - 0s - loss: 73.5896
Epoch 47/50
 - 0s - loss: 71.6338
Epoch 48/50
 - 0s - loss: 71.0302
Epoch 49/50
 - 0s - loss: 70.9906
Epoch 50/50
 - 0s - loss: 69.1010

In [35]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
print('Loss Value', loss_val)

309/309 [==============================] - 0s 562us/step
Loss Value 77.42022691498296

In [36]:

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

77.4202273804876 0.0

In [37]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation (SD): "+str(standard_deviation))

MSE 1: 53.43551696234151
MSE 2: 72.60867310804842
MSE 3: 48.4912359675929
MSE 4: 45.19641070072705
MSE 5: 48.70440183719771
MSE 6: 49.74897153786471
MSE 7: 53.86578690118388
MSE 8: 41.90368883818098
MSE 9: 41.10442056007756
MSE 10: 64.75912115103219
MSE 11: 39.11513676072401
MSE 12: 38.669115813418884
MSE 13: 46.70611118575901
MSE 14: 49.043826600108716
MSE 15: 42.45264144699936
MSE 16: 33.24004824493309
MSE 17: 46.934816922184716
MSE 18: 42.10677471592974
MSE 19: 35.29615166426476
MSE 20: 45.45215598047744
MSE 21: 39.761145039283726
MSE 22: 45.28575965115939
MSE 23: 40.84125887923256
MSE 24: 39.534326448409686
MSE 25: 42.71645815086982
MSE 26: 42.04188159831519
MSE 27: 42.91090296773077
MSE 28: 41.92156375033184
MSE 29: 43.599250571241654
MSE 30: 41.47029880412574
MSE 31: 45.84118927643909
MSE 32: 32.32676726406061
MSE 33: 34.34753827832663
MSE 34: 38.748631190327764
MSE 35: 39.47732262472505
MSE 36: 41.59739881348841
MSE 37: 41.22709396510448
MSE 38: 46.745761562705425
MSE 39: 38.095392196309604
MSE 40: 34.698996658078286
MSE 41: 44.1357061515734
MSE 42: 36.986591697124986
MSE 43: 38.071351430948496
MSE 44: 45.36121502971958
MSE 45: 42.48751463164789
MSE 46: 43.11488237350118
MSE 47: 40.02305519079313
MSE 48: 39.43482440343567
MSE 49: 39.99325972621881
MSE 50: 43.27581700692285


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 43.29816330683869
Standard Deviation (SD): 6.966785584770492